.three-section{
    &__blok{
        display: flex;
        align-items: center;
        justify-content: space-around;
        &__left{
            h2{
                font-size: 48px;
                line-height: 54px;
                font-weight: 600;
                color: #163A24;
            }
            p{
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
                color: #163A24;
            }
        }
    }

}